#!/usr/bin/make -f
# -*- makefile -*-
# vim: wrap
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#MAKE=make

PACKAGE_NAME=yaroot-game-davies
DESTDIR=$(CURDIR)/debian/$(PACKAGE_NAME)

BIN_DIR=$(DESTDIR)/usr/share/yaroot/$(PACKAGE_NAME)
LOG_DIR=$(DESTDIR)/var/log/$(PACKAGE_NAME)

build: 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
#	-$(MAKE) clean
	dh_clean 


install:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_installcron
	dh_installlogrotate
	
	# Add here commands to install the package into debian/tmp
	cd 01_sctp/sctp; python setup.py build
	cp -R 01_sctp/sctp/build/lib.linux*/*sctp* 01_sctp/sctp/
	
	mkdir -p $(BIN_DIR)
	mkdir -p $(LOG_DIR)
	
	cp -LR $(CURDIR)/*_* $(BIN_DIR)
	cp -LR $(CURDIR)/jabber_basic.py $(BIN_DIR)
	cp -R 01_sctp/sctp/build/lib.linux*/*sctp* $(BIN_DIR)/01_sctp/sctp/
	find  $(BIN_DIR) -type f -name '*.pyc' -delete

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
#	dh_versions $(DESTDIR)
#	dh_install  --sourcedir=debian/tmp	
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_shlibdeps
#	dh_perl
#	dh_perldeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install changelog
